/* Global styling */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Variable declarations */
  --main-txt-color: #333;
  --alt-txt-color: #388e3c;
  --main-bg-color: #fff;
  --fixed-header-height: 40px;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  min-width: 320px;
  scroll-behavior: smooth;
  /* Makes text more crisp, clear on all browsers: */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Class and individual element styling */

header {
  background-color: var(--alt-txt-color);
  color: var(--main-bg-color);
  position: fixed;
  text-align: center;
  height: var(--fixed-header-height);
  width: 100%;
  z-index: 1000;
}

#navbar {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#navbar ul li {
  padding: 10px 20px;
}

main {
  text-align: center;
}

section {
  min-height: 100vh;
}

section h2 {
  padding-bottom: 10px;
}

#welcome-section {
  position: relative;
}

#welcome-section>div {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome-name {
  font-size: 12vw;
  letter-spacing: -3px;
  white-space: nowrap;
}

#welcome-name-part-2 {
  position: relative;
  right: 3.3vw;
  text-decoration: underline;
  text-decoration-color: var(--alt-txt-color);
}

.welcome-text {
  font-size: 2vw;
  text-align: left;
  padding-left: 4vw;
}

.welcome-text h2 {
  padding-bottom: 0;
}

#about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5%;
}

#about h2 {
  border-bottom: 3px solid var(--alt-txt-color);
  margin-bottom: 15px;
}

#about-div {
  text-align: left;
  width: 100%;
}

#about-img-div {
  width: 100%;
}

#about-img {
  width: 100%;
  transform: scaleX(-1);
}

#projects {
  margin: 5%;
}

#projects,
#contact {
  padding-top: calc(var(--fixed-header-height) + 20px);
}

#projects h2 {
  border-bottom: 3px solid var(--alt-txt-color);
}

.tile-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  padding-top: 40px;
}

.project-tile {
  background-color: var(--main-bg-color);
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.3s ease;
}

.project-tile:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.5);
}

.tile-image {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Following settings keep image width:height ratio fixed.
   16:9 ratio --> 9/16 = 0.5625 */
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
}

.tile-title {
  font-weight: bold;
  margin: 0;
  padding: 8px;
}

#contact {
  display: flex;
  align-items: center;
  position: relative;
  margin: 5%;
  text-align: right;
}

#contact>div {
  width: 100%;
}

#contact-container {
  display: flex;
  justify-content: space-evenly;
}

#contact-div {
  text-align: right;
  width: 100%;
  margin-bottom: 30px;
}

#contact h2 {
  width: 50%;
  margin-left: 50%;
  border-bottom: 3px solid var(--alt-txt-color);
  margin-bottom: 15px;
}

#form-div {
  width: 100%;
}

#contact form {
  width: 100%;
  padding: 15px;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: inherit;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

textarea {
  height: 100px;
  font-size: 0.9em;
}

button[type="submit"] {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--alt-txt-color);
  border-radius: 4px;
  border: 0px solid;
  color: var(--main-bg-color);
  font-size: 0.9em;
  height: 35px;
  width: 80px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 80%;
  background-color: var(--alt-txt-color);
  color: var(--main-bg-color);
}

/* Media queries */

@media screen and (max-width: 700px) {
  #navbar ul {
    font-size: 80%;
  }
  .welcome-name {
    font-size: 17vw;
  }
  #welcome-name-part-2 {
    right: 4.1vw;
  }
  .welcome-text {
    font-size: 3vw;
    padding-left: 6vw;
  }
  #about h2,
  #projects h2,
  #contact h2 {
    font-size: 1.3em;
  }
  p {
    font-size: 0.9em;
  }
  #about {
    flex-direction: column;
    padding-top: calc(var(--fixed-header-height) + 20px);
  }
  #contact {
    padding-top: calc(var(--fixed-header-height) + 20px);
    text-align: right;
  }
  #contact h2 {
    width: 100%;
    margin-left: 0;
  }
  #contact-container {
    flex-direction: column-reverse;
  }
  #contact form {
    padding: 0px;
  }
}